Options All -Indexes

RewriteEngine On
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?pagina=$1
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?valId=$1 [QSA,L]
#RewriteRule ^([-a-zA-Z0-9/]+)$ articulo.php?valId=$
#RewriteRule ^(.*)$ index.php?valId=/$1 [QSA,L]
#RewriteRule ^vistas/articulo/(.+)$ articulo.php?valId=$2 [QSA,L]